.backgroundSide {
    /* thing displayed*/
    background-color: #fafafa;
    /* full page size*/
    height: 100%;
    /* center and scale*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundMid {
    /* thing displayed*/
    background-color: #74b9ff;
    /*background-color: cornflowerblue;*/
    /* full page size*/
    height: 100%;
    width: 90%  ;
    /* center and scale*/
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    overflow: hidden;
    background: #ededed;
    text-align: center;
}

.footer h4 {
    text-decoration: underline;
}

.footerCompany {
    line-height: 0.8em;
}