/*  Schriftarten  */
h1 {
	font-size: 3rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	font-weight: bold;
}

h2 {
	font-size: 2.5rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	font-weight: bold;
}

h3 {
	font-size: 2rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	font-weight: bold;
}

h4 {
	font-size: 1.5rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	font-weight: bold;
}

h5 {
	font-size: 1rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	font-weight: bold;
}

p {
	font-size: 1rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
}
/* autocomplete / Live search */

.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* messeges */
.message-error {
	color: #e74c3c;
	margin-bottom: 0.8rem;
}

.message-succes {
	color: green;
	margin-bottom: 0.8rem;
}

/* widgets */
.widget {
	background-color: #fff;
	border-style: solid;
	border-radius: 0.5em;
	border-color: #fff;
	color: #212529;
	margin: 1rem;
	padding: 1rem;
	font-size: 1rem;
}

.widget h4 {
	text-decoration: underline;
}

/*  StandardLayout  */

/*  Hintergrund  */
.backgroundSide {
	background-color: #fafafa;
	height: 100%;
	/*background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

.backgroundMid {
	background-color: #74b9ff;
	height: 100%;
	width: 90%;
	margin: auto;
	/*background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

/*  Footer  */
.footer {
	overflow: hidden;
	background: #ededed;
	text-align: center;
}

.footerCompany {
	line-height: 0.8em;
}

.footer h4 {
	text-decoration: underline;
}

.footer p {
	letter-spacing: normal;
	font-size: 0.9rem;
	font-weight: normal;
}